.pageWrapper {
    min-height: calc(100vh - 64px); /* trừ navbar */
    background: var(--color-bg-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 16px;
}
