.page {
  min-height: 100vh;
  background: var(--color-bg-white);
  padding: 0.5em 1.5em 1.5em;
}

.body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

@media (max-width: 48em) {
  .body {
    padding: 1.25em 1em 2.5em;
  }
}
